<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">


<head>
<title>Cadastro de Usuário</title>
</head>

<h:body>
	<p:dialog widgetVar="inserir" header="Cadastrar Usuario" width="400" modal="true">
		<h:form id="formInserir">
			<h:panelGrid columns="3">
				<h:outputText value="Nome" />
				<h:inputText id="nome" value="#{LoginCtrl.usuario.nomeUsuario}"
					required="true" requiredMessage="Informe o nome" />
				<p:message for="nome" />	
				<h:outputText value="Login" />
				<h:inputText id="login" value="#{LoginCtrl.usuario.loginUsuario}"
					required="true" requiredMessage="Informe o login" />
				<p:message for="login" />	
				<h:outputText value="Senha" />
				<p:password id="senha" value="#{LoginCtrl.usuario.senha}"
					required="true" requiredMessage="Informe a senha" />
				<p:message for="senha" />	
				<h:outputText value="Data de nascimento" />
				<p:calendar id="data" value="#{LoginCtrl.usuario.dataNascimento}"
					pattern="dd/MM/yyyy" locale="pt_BR" required="true"
					requiredMessage="Informe a data de nascimento" />
				<p:message for="data" />
				<p:commandButton value="Salvar" action="#{LoginCtrl.inserir}"
					icon="fa-file" ajax="false" />
				<h:button value="Voltar" outcome="/index" />
			</h:panelGrid>
			
		</h:form>
	</p:dialog>

</h:body>

</html>