<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>

</h:head>

<h:body>
	<h:form>
		<p:messages id="messages" />
		<p:panelGrid columns="2">
			<p:outputLabel for="nomeUsuario" value="Login:" />
			<p:inputText id="nomeUsuario"
				value="#{LoginCtrl.usuario.loginUsuario}" />

			<p:outputLabel for="senha" value="Senha:" />
			<p:password id="senha" value="#{LoginCtrl.usuario.senha}" />

			<p:commandButton value="Logar" icon="fa-share"
				action="#{LoginCtrl.logar}" ajax="false">
			</p:commandButton>

			<p:commandButton value="Cadastrar" icon="fa-file"
				action="#{LoginCtrl.cadastrarUsuario}" ajax="false">
			</p:commandButton>

		</p:panelGrid>
	</h:form>
</h:body>
</html>