<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>

</h:head>

<h:body>
	<h:form>

		<p:messages id="messages" />
		<p:panelGrid columns="2">
			<p:outputLabel value="Seja bem vindo!"></p:outputLabel>
			<p:commandButton value="Sair" icon="ui-icon-star"
				action="#{LoginCtrl.logoff}" ajax="false">
			</p:commandButton>
		</p:panelGrid>

		<p:growl id="msg" showDetail="true" sticky="true" />

		<p:idleMonitor timeout="20000" onidle="PF('idleDialog').show()" />

		<p:confirmDialog id="confirmDialog"
			message="Você ficou inativo por 2 minutos, clik em OK e volte a tela inicial "
			severity="alert" widgetVar="idleDialog">

			<p:commandButton id="Logout" value="OK" update="msg"
				onclick="idleDialog.hide()"
				action="#{LoginCtrl.logoff}"  ajax="false"/>

		</p:confirmDialog>
	</h:form>

</h:body>
</html>